@model JobPortal.ViewModels.EmployerRegisterViewModel

@{
    ViewData["Title"] = "Employee Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .registerBtn, .profleBuildBtn {
            position: relative;
            float: inherit;
            line-height: 20px;
            text-align: center;
            color: #FFF;
            background-color: #8742f5;
            border-radius: 5px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
        }

            .registerBtn:hover {
                background-color: #4e42f5;
            }
    </style>
</head>

<body>
    <section class="h-100 " style="background-color: white;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <a href="#" onclick="history.back()"><i class="fa fa-arrow-circle-left fa-2x arror-hover" style="color:mediumpurple;"></i></a>
                    <div class="card rounded-3">
                        <img src="~/img/employers.jpg"
                             class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                             alt="Sample photo">
                        <div style="background-color:whitesmoke;" class="card-body p-4 p-md-5">
                            <h4 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-center">Regjistrohuni si PunëDhënës</h4>

                            <form class="px-md-2" method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="EmployerRegister">
                                <div asp-validation-summary="ModelOnly"></div>
                                @Html.ValidationSummary()

                                <div class="row">
                                    <div class="form-outline col-md-6 mb-4 form-group">
                                        @Html.LabelFor(c => c.FirstName, "Emri I Kompanisë")
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Emri I Kompanisë" })
                                    </div>

                                    <div class="form-outline col-md-6 mb-4 form-group">
                                        @Html.LabelFor(c => c.LastName, "Adresa e Kompanisë")
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Adresa e Kompanisë" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-outline col-md-6 mb-4 form-group">
                                        @Html.LabelFor(c => c.Email, "E-Mail")
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "email@example.com", @type = "email", @required = "required" })
                                    </div>

                                    <div class="form-outline col-md-6 mb-4 form-group">
                                        @Html.LabelFor(c => c.PhoneNumber, "Numri i Telefonit")
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @type = "tel", @placeholder = "Numri i Telefonit" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-outline col-md-6 mb-4 form-group">
                                        @Html.LabelFor(c => c.Password, "Fjalëkalimi")
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Fjalëkalimi", @type = "password" })
                                    </div>

                                    <div class="form-outline col-md-6 mb-4 form-group">
                                        @Html.LabelFor(c => c.ConfirmPassword, "Konfirmoni Fjalëkalimin")
                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Konfirmoni Fjalëkalimin", @type = "password" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-outline col-md-12 mb-4 form-group">
                                        <label>Përshkrimi I Kompanisë</label>
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Përshkrimi I Kompanisë" })
                                    </div>
                                </div>

                                <div>
                                    <div> <label asp-for="Photo">Vendosni foton e profilit</label></div>
                                    <div>
                                        <input type="file" name="upload" accept="image/png, image/gif, image/jpeg" class="form-control" />
                                    </div>
                                </div>
                                <br />
                                @Html.AntiForgeryToken()
                                <div class="text-center">
                                    <button type="submit" value="submit" class="btn registerBtn">
                                        <i class="fa fa-user-md"></i> Regjistrohuni
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>