@model IEnumerable<Applicant>

@using Humanizer
@{
    ViewData["Title"] = "Applicants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="heading">Applicants for all of your position</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            @foreach (var applicant in Model)
            {
                <div class="col-lg-6">
                    <table style="width:100%;" class="table table-striped table-responsive-xxl">
                        <tr>
                            <td style="white-space:nowrap;"><strong>First Name: </strong></td>
                            <th></th>
                            <th style="text-transform:capitalize;">@applicant.User.FirstName</th>
                        </tr>
                        <tr>
                            <td style="white-space:nowrap;"><strong>Last Name: </strong></td>
                            <th></th>
                            <th style="text-transform:capitalize;">@applicant.User.LastName</th>
                        </tr>
                        <tr>
                            <td style="white-space:nowrap;"><strong>Gender: </strong></td>
                            <th></th>
                            <th style="text-transform:capitalize;">@applicant.User.Gender</th>
                        </tr>
                        <tr>
                            <td style="white-space:nowrap;"><strong>E-Mail: </strong></td>
                            <th></th>
                            <th style="text-transform:capitalize;"><email>@applicant.User.Email</email></th>
                        </tr>
                        <tr>
                            <td><strong>Phone Number</strong></td>
                            <th></th>
                            <th style="text-transform:capitalize;"><a href="tel:@applicant.User.PhoneNumber">@applicant.User.PhoneNumber</a></th>
                        </tr>
                        <tr>
                            <td><strong>Applied At:</strong></td>
                            <th></th>
                            <th style="text-transform:capitalize;">@applicant.Job.Title</th>
                        </tr>
                        <tr>
                            <td><strong>Applied:</strong></td>
                            <th></th>
                            <th style="text-transform:capitalize;">@applicant.CreatedAt.Humanize()</th>
                        </tr>
                        <hr />
                    </table>
                </div>
                <div class="col-lg-6">
                    <div class="col">
                        <div class="box-image applicant"> 
                            <iframe style="width:100%; height:450px;" id="iframepdf" src="@applicant.CVPath"></iframe>
                            <div class="d-flex justify-content-between">
                                <p class="intro"></p>
                            </div>
                        </div>
                    </div>
                </div> 
            }
          
        </div>
    </div>
</section>
