@using Humanizer
 @model JobPortal.ViewModels.JobApplicantsViewModel 
@{ ViewBag.Title = "title"; Layout = "_Layout"; } 

<section class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1 class="heading">Applicants for the <span class="accent">@Model.Job.Title</span> position </h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        @if (Model.Applicants.Any())
        {
            @foreach (var applicant in Model.Applicants)
            {
                <div class="row">
                    <div class="col">

                        
                            <div class="col">
                                <div class="box applicant">
                                    <h4 style="display:flex; justify-content:center;">@applicant.User.UserName CV</h4>
                                    @*<a href="#" data-toggle="modal" data-target="#contact-modal" class="btn btn-outline-white-secondary btn-sm">
                                        <i class="fa fa-envelope"></i>Contact
                                    </a>*@
                                    <p>
                                        <span class="badge badge-info">Applied @applicant.CreatedAt.Humanize()</span>
                                    </p>
                                    <iframe style="width:100%; height:700px" id="iframepdf" src="@applicant.CVPath"></iframe>
                                    <div class="d-flex justify-content-between">
                                        <p class="intro"></p> @* <div class="image">
                                          <img src="~/img/avatar.png" alt="" class="img-fluid rounded-circle">
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        

                    </div>

                    <div class="col">
                        <h1>CONTACT INFORMATION</h1>
                        <br />
                        
                            <div class="card" style="width: 18rem; display:flex; justify-content:center;">
                                <ul class="list-group list-group-flush" style="display:flex; justify-content:center;">
                                    <li class="list-group-item">Name: @applicant.User.FirstName @applicant.User.LastName</li>
                                    <li class="list-group-item">E-Mail: @applicant.User.Email</li>
                                    <li class="list-group-item">Phone Number: @applicant.User.PhoneNumber</li>
                                </ul>
                            </div>
                            @*<h4>@applicant.User.FirstName @applicant.User.LastName</h4>
                            <h3>@applicant.User.Email</h3>
                            <h3>@applicant.User.PhoneNumber</h3>*@
                        
                    </div>

                </div>
            }
        }

        </div>
</section>