 @using Humanizer
 @model JobPortal.ViewModels.JobApplicantsViewModel 
@{ ViewBag.Title = "title"; Layout = "_Layout"; } 

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/ApplicantByJob.css" />

    <style>
        footer{
            display:none;
        }
    </style>
</head>

<section class="bg-light">
    <input type="button" value="Go back!" class="btn btn-sm btn-outline-info" onclick="history.back()">
    <br /> <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            @if (Model.Applicants.Any())
                            {
                                @foreach (var applicant in Model.Applicants)
                                {
                                    <div class="col-lg-6 px-xl-10">
                                        <div class="bg-secondary d-lg-inline-block mb-1-9 ml-1 rounded" style="width:100%;">
                                            <br />
                                            <h3 class="h2 text-white m-1 mb-0">@applicant.User.FirstName @applicant.User.LastName</h3>
                                            <br />
                                        </div>
                                        <br />
                                        <ul class=" mb-1-9">
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Gender:</span> <span>@applicant.User.Gender</span></li>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone Number:</span> <span><a href="tel:@applicant.User.PhoneNumber">@applicant.User.PhoneNumber</a></span></li>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> <span><email>@applicant.User.Email</email></span></li>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Applicant CV:</span> <span><a href="@applicant.CVPath" target="_blank">View CV</a></span></li>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Applied At:</span> <span>@applicant.Job.Title</span></li>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Applied:</span> <span style="text-transform:capitalize;">@applicant.CreatedAt.Humanize()</span></li>
                                        </ul>
                                        <br />
                                    </div>
                                    <div class="col-lg-6 mb-4 mb-lg-0" style="display:flex; justify-content:center;">
                                        <img style="width:300px; height:300px;" src="@applicant.User.ImagePath" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>