 @using Humanizer
 @model JobPortal.ViewModels.JobApplicantsViewModel 
@{ ViewBag.Title = "title"; Layout = "_Layout"; } 

<head>
    <style>
        .remove-cell{
            visibility:hidden;
        }

        @@media screen and (max-width: 600px){
            .remove-cell{
                visibility:visible
            }
        }

        @@media screen and (max-width: 600px) {
            .remove-frame {
                display: none;
            }
        }
    </style>
</head>

<section>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="heading">Applicants for the <span class="accent">@Model.Job.Title</span> position </h1>
        </div>
    </div>
    <div class="container">
        @if (Model.Applicants.Any())
        {
            @foreach (var applicant in Model.Applicants)
            {
                <div class="row">
                    <div class="col-lg-6">
                        <br /><br /><br /><br />
                        <table style="width:100%;" class="table table-striped table-responsive-xxl">
                            <tr>
                                <td style="white-space:nowrap;"><strong>First Name: </strong></td>
                                <th></th>
                                <th style="text-transform:capitalize;">@applicant.User.FirstName</th>
                            </tr>
                            <tr>
                                <td style="white-space:nowrap;"><strong>Last Name: </strong></td>
                                <th></th>
                                <th style="text-transform:capitalize;">@applicant.User.LastName</th>
                            </tr>
                            <tr>
                                <td style="white-space:nowrap;"><strong>Gender: </strong></td>
                                <th></th>
                                <th style="text-transform:capitalize;">@applicant.User.Gender</th>
                            </tr>
                            <tr>
                                <td style="white-space:nowrap;"><strong>E-Mail: </strong></td>
                                <th></th>
                                <th style="text-transform:capitalize;"><email>@applicant.User.Email</email></th>
                            </tr>
                            <tr>
                                <td><strong>Phone Number</strong></td>
                                <th></th>
                                <th style="text-transform:capitalize;"><a href="tel:@applicant.User.PhoneNumber">@applicant.User.PhoneNumber</a></th>
                            </tr>
                            <tr>
                                <td><strong>Applied At:</strong></td>
                                <th></th>
                                <th style="text-transform:capitalize;">@applicant.Job.Title</th>
                            </tr>
                            <tr>
                                <td><strong>Applied:</strong></td>
                                <th></th>
                                <th style="text-transform:capitalize;">@applicant.CreatedAt.Humanize()</th>
                            </tr>
                            <tr class="remove-cell">
                                <td><strong>Applicant CV:</strong></td>
                                <th></th>
                                <th><a href="@applicant.CVPath">View CV</a></th>
                            </tr>
                        </table>
                    </div>

                    <div class="col-lg-6 remove-frame">
                        <div class="col">
                            <div class="box-image applicant">
                                <iframe style="width:100%; height:450px;" id="iframepdf" src="@applicant.CVPath"></iframe>
                                <div class="d-flex justify-content-between">
                                    <p class="intro"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <hr />
            }
        }

    </div>
</section>