@model IEnumerable<Job>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        .inline {
            display:inline;
            justify-content:end;
        }

        table td{
            white-space:nowrap;
        }



        @@media screen and (max-width: 600px) {
            .btn-sm {
                width:30%;
                white-space:nowrap;
                overflow:hidden;
            }

            .col-10 {
                width: 150%;
                height: auto;
            }
        }
    </style>
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <a href="#" onclick="history.back()"><i class="fa fa-arrow-circle-left fa-2x mb-1" style="color:mediumpurple;"></i></a>

                    <h4 class="heading" style="display:inline;">Të gjitha punët e krijuara</h4>
                    @*<p class="lead text-center">Të gjitha punët e krijuara</p>*@
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center mb-5">
                    <a asp-controller="Job"
                       asp-action="Create"
                       class="btn btn-outline-white-primary">
                        <i class="fa fa-plus"></i>Shto një punë të re
                    </a>
                </div>
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-light table-hover ">
                            <thead>
                                <tr>
                                    <th style="display:flex; width:400px; justify-content:center;">Titulli I Punës</th>
                                    @*<th style="white-space: nowrap;">Position filled</th>
                                    <th>Date posted</th>*@
                                   <th>Aplikantët</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var job in Model)
                                {
                                    <tr>
                                        <th>
                                            <a asp-controller="Home" asp-action="JobDetails" asp-route-id="@job.Id">@job.Title</a>
                                            <br />
                                            <br />
                                            <a asp-controller="Job"
                                               asp-action="Edit"
                                               asp-route-id="@job.Id"
                                               class="btn btn-sm btn-outline-warning">
                                                <i class="fa fa-edit"></i>Edito
                                            </a>

                                            @if (job.Filled)
                                            {
                                                <a href="#"
                                                   class="btn btn-sm btn-outline-success">
                                                    <i class="fa fa-check-circle-o"></i>
                                                    <span class="hidden-xs hidden-sm"> E Zënë</span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-controller="Job"
                                                   asp-action="MarkAsFilled"
                                                   asp-route-id="@job.Id"
                                                   class="btn btn-sm btn-outline-success">
                                                    <i class="fa fa-check-circle-o"></i>
                                                    <span class="hidden-xs hidden-sm">E Lirë </span>
                                                </a>

                                            }
                                            <form class="inline" asp-controller="Job" asp-action="Delete" method="post" asp-route-id="@job.Id">
                                                <button class="btn btn-sm btn-outline-danger" type="submit">
                                                    <i class="fa fa-times-circle-o"></i>Fshij
                                                </button>
                                            </form>
                                        </th>
                                        <td>
                                            <a asp-controller="Dashboard"
                                               asp-action="ApplicantsByJob"
                                               asp-route-id="@job.Id"
                                               class="btn btn-sm btn-success">
                                                <i class="fa fa-users"></i>@job.Applicants.Count()
                                                <span class="hidden-xs hidden-sm">Aplikantë</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>