@model JobPortal.ViewModels.Home.TrendingJobViewModel
@using Humanizer
@using Microsoft.AspNetCore.Mvc.RazorPages;
@{
        ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .ellipsis {
            max-width: 300px;
            max-height:100px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
</head>

<section class="job-form-section job-form-section--image">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="job-form-box">
                    <h2 class="heading">
                        Find a <span class="accent">job</span> you will
                        <span class="accent">love</span>.
                    </h2>
                    <form id="job-main-form" method="get" asp-controller="Home" asp-action="Search" class="job-main-form">
                        <div class="controls">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="profession">Position</label>
                                        <input type="text" id="profession" name="SearchString"
                                               placeholder="Position you are looking for" class="form-control">
                                    </div>
                                </div>
                                @*<div class="col-md-5">
                                        <div class="form-group">
                                            <label for="location">Location</label>
                                            <input type="text" id="location" name="location"
                                                   placeholder="Any particular location?" class="form-control">
                                        </div>
                                    </div>*@
                                <div class="col-md-2">
                                    <button type="submit"
                                            class="btn btn-outline-white-primary job-main-form__button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light-gray">
    <div class="container">
        <h3 class="heading">Featured jobs</h3>
        <div class="row featured align-items-stretch">
            <table class="table table-bordered">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Job</th>
                    <th scope="col">Description</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Location</th>
                </tr>

                @foreach (var job in Model.JobList)
                {
            <tr>
                <td>
                    <div class="top">
                        <a href="#">
                            <div class="bg"></div>
                            <div class="logo">
                                <img src="@job.PosterImageURl" alt="" style="max-width: 200px;">
                            </div>
                        </a>
                    </div>
                </td>
                <td><a asp-controller="Home" asp-action="JobDetails" asp-route-id="@job.Id">@job.Title</a></td>
                <td class="ellipsis">@job.Description</td>
                <td>@job.Salary LEK</td>
                <td>@job.Location</td>
            </tr>

                }
                <paging total-records="Model.TotalRecords"
                        page-no="Model.P"
                        page-size="Model.S">
                </paging>
            </table>         
        </div>
    </div>
</section>
<section style="background-image: url(~/img/meeting.jpg); " class="section-divider">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Start searching for your new job now! </p>
                <p><a asp-controller="Job" asp-action="Index" class="btn btn-outline-light">See all offers </a></p>
            </div>
        </div>
    </div>
</section>