@model JobPortal.ViewModels.Home.JobDetailsViewModel

@using Humanizer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Job Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bg-light-gray">
    <div class="container">
        <h1 class="heading">
            @Model.Job.Title<br>
            <small>at <a href=""> @Model.Job.CompanyName</a></small>
        </h1>
        <div class="job-detail-description">
            <i class="fa fa-map-marker job__location"> </i>
            @Model.Job.Location | Posted @Model.Job.CreatedAt.Humanize() |
            @if (Model.Job.Type == "Full time")
            {
                <span class="badge featured-badge badge-success">Full time</span>
            }
            else if (Model.Job.Type == "Part time")
            {
                <span class="badge featured-badge badge-primary">Part time</span>
            }
            else
            {
                <span style="color: #ffffff;" class="badge featured-badge badge-warning">Internship</span>
            }
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <img src="@Model.Job.PosterImageURl" style="max-width:60%; max-height:55%;"/>
                <h3>Category: @Model.Job.Category</h3>
                <h5>Last date: @Model.Job.LastDate.Date.ToShortDateString()</h5>
                <h5 class="text-info">Salary: @Model.Job.Salary LEK</h5>
                <h5>Eduaction: @Model.Job.Education</h5>
                <h5 class="text-info">Preferred Age: @Model.Job.PreferredAge Years Old</h5>
                <h5>Total Views: @Model.Job.ViewCount</h5>
                <blockquote class="blockquote">
                    <p style=" white-space: pre-line;">@Model.Job.Description</p>
                </blockquote>
                
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <h4>About @Model.Job.CompanyName</h4>
                <img src="@Model.Job.posterUrl" style="float:right;" width="60" height="60" alt="Company Picture" />
                <p class="job-detail__company-description" style="white-space:pre-line;">@Model.Job.CompanyDescription</p>
                <p class="job-detail__social social ">
                    Website:<a href="@Model.Job.Website" data-toggle="tooltip" data-placement="top" title="Website"
                               class="link">
                        @Model.Job.Website
                    </a>
                </p>
                <div class="job-detail__apply-bottom">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (Model.IsApplied)
                        {
                            <input type="button" class="btn btn-outline-white-primary" value="Already applied" />
                        }
                        else
                        {

                            <form asp-controller="Job" asp-action="Apply" asp-route-id="@Model.Job.Id" method="post" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                <h4>Upload Your CV</h4>
                                <input required type="file" name="upload" accept="application/pdf" class="form-control" />
                                <input type="hidden" name="job" value="{{ job.id }}">
                                <br />
                                <input style="width:100%;" type="submit" class="btn btn-outline-white-primary"
                                       value="Apply Now" />
                            </form>

                        }
                        <br />
                        <a class="btn btn-success btn-outline-success" href="tel:@Model.Job.CompanyPhoneNumber">Telefononi Kompaninë</a>
                    }
                </div>
                <div class="job-detail__apply-top">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        if (Model.IsApplied)
                        {
                            <input style="display:none" type="button" class="btn btn-outline-white-primary" value="Already applied" />
                        }
                        else
                        {
                            <form asp-controller="Job" asp-action="Apply" asp-route-id="@Model.Job.Id" method="post">
                                @Html.AntiForgeryToken()
                                <input style="display:none" type="submit" class="btn btn-outline-white-primary"
                                       value="Apply for this job" />
                            </form>
                        }
                    }
                    else
                    {
                        <form asp-controller="Job" asp-action="Apply" asp-route-id="@Model.Job.Id" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="job" value="{{ job.id }}">
                            <input style="display:none" type="submit" class="btn btn-outline-white-primary"
                                   value="Apply for this job" />
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

