@model JobPortal.ViewModels.Home.JobDetailsViewModel


@using Humanizer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Job Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var postCategory = Model.Job.Category;
    var postId = Model.Job.Id;
}

<head>
    <link rel="stylesheet" href="~/css/JobDetails.css" />
    <link rel="stylesheet" href="~/css/ApplyJobPopup.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- default styles -->
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- with v4.1.0 Krajee SVG theme is used as default (and must be loaded as below) - include any of the other theme CSS files as mentioned below (and change the theme property of the plugin) -->
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />

    <!-- important mandatory libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js" type="text/javascript"></script>

    <!-- with v4.1.0 Krajee SVG theme is used as default (and must be loaded as below) - include any of the other theme JS files as mentioned below (and change the theme property of the plugin) -->
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>

    <!-- optionally if you need translation for your language then include locale file as mentioned below (replace LANG.js with your own locale file) -->
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/locales/LANG.js"></script>

    <style>
        p {
            font-family: sans-serif !important;
        }

        .icon {
            display: flex;
            justify-content: center;
            background-color: white;
            color: black;
        }

        .center {
            display: flex;
            justify-content: center;
        }

        .card-body {
            width: 100%;
            display: inline;
        }

        .text-left {
            text-align: left;
        }

        .card:hover {
            border-color: orange;
            color: black;
        }

        .card-title:hover {
            color: orange;
        }

        a {
            text-decoration: none;
            color: lightgray;
        }

        .newJobPosting {
            display: flex;
            justify-content: end;
            color: white;
            font-weight: bolder;
        }

        .newText {
            background-color: darkred;
        }

        .caption-badge {
            display: none;
        }

        .center {
            display: flex;
            justify-content: center;
        }

        .left {
            display: flex;
            justify-content: end;
        }

        @@media screen and (max-width: 600px) {
            .job-title {
                width: 100%;
                word-wrap: break-word;
            }
        }

        .tag-name {
            text-transform: capitalize;
            margin-right: 15%;
        }

        .tag-data {
            display: inline;
            text-transform: capitalize;
            width: 120%;
        }

        .job-name-category {
            font: 16px roboto;
            font-weight: 600;
            text-transform: capitalize;
        }

        .section-padding {
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .social-buttons {
            display: flex;
            justify-content: center;
        }

        .icons-style {
            margin: 5px;
            width: 30px;
            height: 30px;
        }

        .job-tags {
            text-transform: capitalize;
            margin: 5px;
        }

        .job-image {
            width: 150px;
            height: 150px;
            border-radius: 5px;
        }

        body {
            margin-top: 0px;
        }

        .please-login {
            text-decoration: none;
            font-family: roboto,sans-serif;
            border: 2px solid black;
            font-weight: 500;
        }

        .signInBtn, .profleBuildBtn {
            position: relative;
            float: left;
            line-height: 25px;
            text-align: center;
            color: #FFF;
            background-color: #746EA9;
            border-radius: 5px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
        }

        .inputFieldBtnBackBtnCnt .profleBuildBtn {
            float: right;
            width: calc(100% - 55px);
        }

        .signInBtn:hover, .profleBuildBtn:hover {
            background-color: #535383;
            font-weight: bold;
            color: white;
        }

        .profleBuildBtnSkip, .profleBuildBtnSkip:hover {
            background-color: #FFF;
            border: none;
            margin-top: 20px;
            font-size: 16px;
            text-decoration: underline;
            color: #333333
        }

        .appliedBtn {
            position: relative;
            float: left;
            line-height: 20px;
            text-align: center;
            color: #FFF;
            background-color: #4432a8;
            border-radius: 5px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
        }

        .applyBtn {
            position: relative;
            float: left;
            line-height: 20px;
            text-align: center;
            color: #FFF;
            background-color: #746EA9;
            border-radius: 5px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
        }

            .applyBtn:hover {
                position: relative;
                float: left;
                line-height: 20px;
                text-align: center;
                color: #FFF;
                background-color: #6632a8;
                border-radius: 5px;
                cursor: pointer;
                -webkit-appearance: none;
                -moz-appearance: none;
                -webkit-transition: all 100ms ease-in-out;
                -moz-transition: all 100ms ease-in-out;
                -o-transition: all 100ms ease-in-out;
                transition: all 100ms ease-in-out;
            }

        .notLogInText {
            text-decoration: none;
            color: white;
            text-align: center;
            font-weight: 600;
            font-size: small;
            padding-top: 10px;
        }
    </style>
</head>

<body>
    @*<a href="#" onclick="history.back()"><i class="fa fa-arrow-circle-left fa-2x arror-hover" style="color:mediumpurple;"></i></a>*@

    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col" style="padding-right:0;">
                    <img src="@Model.Job.PosterImageURl" class="job-image" />
                </div>

                <div class="col" style="padding-left:0; margin-right:35px;">
                    <h1 class="job-name-category" style="padding-bottom:60px;">@Model.Job.Category</h1>
                    <h4 class="job-name-category">@Model.Job.CompanyName</h4>
                </div>
            </div>
            <div class="row bg-white">
                <div class="col tag-name">
                    <span style="text-transform:none;">ID e Njoftimit:</span><br />
                    <span>Kategoria:</span><br />
                    <span>Afati :</span><br />
                    <span>Rroga: </span><br />
                    <span>Orari: </span><br />
                    <span style="text-transform:capitalize;">Edukimi: </span><br />
                    <span style="text-transform:capitalize;">Mosha e Preferuar: </span><br />
                    <span class="mb-0" style="text-transform:capitalize;">Shikime:  </span>
                </div>

                <div class="col tag-data font-weight-bold">
                    <span>@Model.Job.Id</span><br />
                    <span>@Model.Job.Category</span><br />
                    <span>@Model.Job.LastDate.ToString("dd/MM/yyyy")</span><br />
                    <span>@Model.Job.Salary LEK</span><br />
                    <span>@Model.Job.Type</span><br />
                    <span>@Model.Job.Education</span><br />
                    <span>@Model.Job.PreferredAge</span><br />
                    <span>@Model.Job.ViewCount</span>
                </div>
            </div>
            <div class="row bg-white social-buttons">
                <div class="social-buttons">
                    <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=https://localhost:44389/jobs/@Model.Job.Id/details" target="_blank">
                        <img src="~/img/social-buttons/facebook (1).svg" class="icons-style" />
                    </a>
                    @*<a href="fb-messenger://share/?link= https://localhost:44389/jobs/@Model.Job.Id/details" target="_blank">
                        <img src="~/img/social-buttons/messenger-icon.png" class="icons-style" />
                    </a>*@
                    @*<a href="#">
                        <img src="~/img/social-buttons/viber-icon.png" class="icons-style" />
                    </a>*@
                    <a href="https://api.whatsapp.com/send?text=https://localhost:44389/jobs/@Model.Job.Id/details" data-action="share/whatsapp/share" target="_blank">
                        <img src="~/img/social-buttons/whatspp.png" class="icons-style" />
                    </a>
                    <a href="#">
                        <img src="~/img/social-buttons/envelopes.svg" class="icons-style" />
                    </a>
                    <a href="#" onclick="copyToClipboard()">
                        <img src="~/img/social-buttons/url-link-round-ui-href-share.png" class="icons-style" />
                    </a>
                </div>
            </div>
            <input type="text" value="https://localhost:44389/jobs/@Model.Job.Id/details" id="myInput" style="display:none;">
            <div class="row bg-white">
                <div class="container" id="a">
                    <br />
                    <div class="font-weight-bold">
                        <h5 style="text-align:center; font-weight:bold;">@Model.Job.Title</h5>
                        <p style=" white-space: pre-line; font-family: 'Lato', sans-serif !important;">@Model.Job.Description</p>
                    </div>
                </div>
            </div>
            <div class="row bg-white justify-content-center">
                <form asp-controller="Job" asp-action="Apply" asp-route-id="@Model.Job.Id" method="post" enctype="multipart/form-data">
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("Employee"))
                            {
                                if (Model.IsApplied)
                                {
                                    <input style="width:100%;" type="button" class="btn appliedBtn" value="Aplikuar" /><br />
                                }
                                else
                                {
                                    <div id="myModal" class="modal">

                                        <div class="modal-content mt-5 ml-auto mr-auto card col-sm-3">

                                            <div class="modal-body">
                                                <span class="close">&times;</span>
                                                <h4>Ngarko CV-në</h4>
                                                <input required type="file" name="upload" accept="application/pdf" class="form-control" />
                                                <input type="hidden" name="job" value="{{ job.id }}">
                                                <br />
                                                <input style="width:100%;" type="submit" class="btn applyBtn"
                                                       value="Apliko Tani" />
                                                <br />
                                            </div>
                                            <br />
                                        </div>

                                    </div>

                                    <input style="width:100%;" type="button" id="myBtn" class="btn applyBtn"
                                           value="Apliko Tani" />
                                }
                            }
                            else
                            {
                                <a class="btn signInBtn" style="line-height:14px;" asp-action="Login" asp-controller="Account">
                                    <p class="notLogInText">Logohuni si punonjës për të aplikuar</p>
                                </a>
                            }
                        }

                        else
                        {
                            <a class="btn signInBtn" style="line-height:10px;" asp-action="Login" asp-controller="Account"><p class="notLogInText">Logohuni për të aplikuar</p></a>
                        }
                    }

                </form>
                <div class="container justify-content-center m-2" style="display:flex; justify-content:center;">
                    <a class="btn signInBtn" href="tel:@Model.Job.CompanyPhoneNumber">Telefononi Kompaninë</a>
                </div>

                <form runat="server" style="visibility:hidden;">
                    <input id="input-id" type="text" class="rating" data-size="md">

                    <asp:HiddenField ID="hdfRatingValue" runat="server" />

                </form>
            </div>
        </div>
    </section>
            <div class="container">
            <h4 class="card-title" style="text-align:center;">Njoftime Të Ngjashme</h4>

            @foreach (var job in Model.JobList)
            {
                if (String.Equals(job.Category, postCategory) && !String.Equals(job.Id, postId))
                {
                    <a asp-controller="Home" asp-action="JobDetails" asp-route-id="@job.Id">
                        <div class="card">
                            <div class="row no-gutters w-100 h-75">
                                <div class="">
                                    <img class="card-img rounded-1" src="@job.PosterImageURl" style="width:100px; height:80px; margin:5px;">
                                </div>
                                <div class="text-left">
                                    <div class="card-body" style="position:absolute; right:0;">
                                        <h5 class="card-title" style="display:flex; justify-content:center; margin-left:80px;">@job.Category</h5>

                                        <span style="margin:0 auto; margin-left:90px;"><i class="fa fa-map-marker"></i> @job.Location</span>

                                        <span style="margin:0 auto;"><i class="fa fa-eye"></i> @job.ViewCount</span>

                                        <span style="text-transform: capitalize; text-align: right; font-size:13px;"><i class="fa fa-clock-o"></i>  @job.CreatedAt.Humanize()</span>

                                        @if ((DateTime.Now - job.CreatedAt).TotalDays < 7)
                                        {
                                            <div class="newJobPosting">
                                                <div class="newText">
                                                    <i class="fa fa-star"></i>E Re &nbsp;
                                                </div>
                                            </div>
                                        }
                                        <div class="newJobPosting" style="visibility:hidden;">
                                            <div class="newText">
                                                <i class="fa fa-star"></i>E Re &nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <br />
                }
            }
        </div>

</body>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    //Get the rating value from the star
    $(document).ready(function () {
        $("#input-id").on("rating.change", function (event, value, caption) {

            var ratingValue = $('#<%=hdfRatingValue.ClientID%>').val();
            ratingValue = value;
            alert(ratingValue);
        });
    });

    function copyToClipboard() {
        // Get the text field
        var copyText = document.getElementById("myInput");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);

        // Alert the copied text
        alert("Adresa u kopjua!");
    }
</script>
