@model JobPortal.ViewModels.Home.JobDetailsViewModel


@using Humanizer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Job Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/JobDetails.css" />
    <link rel="stylesheet" href="~/css/ApplyJobPopup.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .center {
            display: flex;
            justify-content: center;
        }

        .left {
            display: flex;
            justify-content: end;
        }

        @@media screen and (max-width: 600px) {
            .job-title {
                width: 100%;
                word-wrap: break-word;
            }
        }

        .tag-name {
            text-transform: capitalize;
            margin-right: 15%;
        }

        .tag-data {
            display: inline;
            text-transform: capitalize;
            width:120%;
        }

        .job-name-category {
            font: 16px roboto;
            font-weight: 600;
            text-transform: capitalize;
        }

        .section-padding {
            padding-top: 5%;
            padding-bottom: 5%;
        }

        .social-buttons {
            display: flex;
            justify-content: center;
        }

        .icons-style {
            margin: 5px;
            width: 30px;
            height: 30px;
        }

        .job-tags{
            text-transform:capitalize;
            margin:5px;
        }

        .job-image {
            width: 150px;
            height: 150px;
            border-radius:5px;
        }

        body{
            margin-top:0px;
        }

        .please-login {
            text-decoration: none;
            font-family: roboto,sans-serif;
            border:2px solid black;
            font-weight:500;
        }

        .signInBtn, .profleBuildBtn {
            position: relative;
            float: left;
            line-height: 25px;
            text-align: center;
            color: #FFF;
            background-color: #746EA9;
            border-radius: 5px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
        }

        .inputFieldBtnBackBtnCnt .profleBuildBtn {
            float: right;
            width: calc(100% - 55px);
        }

        .signInBtn:hover, .profleBuildBtn:hover {
            background-color: #535383;
            font-weight:bold;
            color:white;
        }

        .profleBuildBtnSkip, .profleBuildBtnSkip:hover {
            background-color: #FFF;
            border: none;
            margin-top: 20px;
            font-size: 16px;
            text-decoration: underline;
            color: #333333
        }

        .appliedBtn {
            position: relative;
            float: left;
            line-height: 20px;
            text-align: center;
            color: #FFF;
            background-color: #4432a8;
            border-radius: 5px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
        }

        .applyBtn {
            position: relative;
            float: left;
            line-height: 20px;
            text-align: center;
            color: #FFF;
            background-color: #746EA9;
            border-radius: 5px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
        }

        .applyBtn:hover {
            position: relative;
            float: left;
            line-height: 20px;
            text-align: center;
            color: #FFF;
            background-color: #6632a8;
            border-radius: 5px;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
            -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
        }

        .notLogInText {
            text-decoration: none;
            color: white;
            text-align: center;
            font-weight: 600;
            font-size: small;
            padding-top: 10px;
        }
    </style>
</head>

<body>

    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col" style="padding-right:0;">
                    <img src="@Model.Job.PosterImageURl" class="job-image" />
                </div>

                <div class="col" style="padding-left:0; margin-right:35px;">
                    <h1 class="job-name-category" style="padding-bottom:60px;">@Model.Job.Category</h1>
                    <h4 class="job-name-category">@Model.Job.CompanyName</h4>
                </div>
            </div>
            <div class="row bg-white">
                <div class="col tag-name">
                    <span style="text-transform:none;">ID e Njoftimit:</span><br />
                    <span>Kategoria:</span><br />
                    <span>Afati :</span><br />
                    <span>Rroga: </span><br />
                    <span>Orari: </span><br />
                    <span style="text-transform:capitalize;">Edukimi: </span><br />
                    <span style="text-transform:capitalize;">Mosha e Preferuar: </span><br />
                    <span class="mb-0" style="text-transform:capitalize;">Shikime:  </span>
                </div>

                <div class="col tag-data font-weight-bold">
                    <span>@Model.Job.Id</span><br />
                    <span>@Model.Job.Category</span><br />
                    <span>@Model.Job.LastDate.ToString("dd/MM/yyyy")</span><br />
                    <span>@Model.Job.Salary LEK</span><br />
                    <span>@Model.Job.Type</span><br />
                    <span>@Model.Job.Education</span><br />
                    <span>@Model.Job.PreferredAge</span><br />
                    <span>@Model.Job.ViewCount</span>
                </div>
            </div>
            <div class="row bg-white social-buttons">
                <div class="social-buttons">
                    <a href="#">
                        <img src="~/img/social-buttons/facebook (1).svg" class="icons-style" />
                    </a>
                    <a href="#">
                        <img src="~/img/social-buttons/messenger-icon.png" class="icons-style" />
                    </a>
                    <a href="#">
                        <img src="~/img/social-buttons/viber-icon.png" class="icons-style" />
                    </a>
                    <a href="#">
                        <img src="~/img/social-buttons/whatspp.png" class="icons-style" />
                    </a>
                    <a href="#">
                        <img src="~/img/social-buttons/envelopes.svg" class="icons-style" />
                    </a>
                    <a href="#">
                        <img src="~/img/social-buttons/url-link-round-ui-href-share.png" class="icons-style" />
                    </a>
                </div>
            </div>
            <div class="row bg-white">
                <div class="container" id="a">
                    <br />
                    <div class="font-weight-bold">
                        <h5 style="text-align:center; font-weight:bold;">@Model.Job.Title</h5>
                        <p style=" white-space: pre-line;">@Model.Job.Description</p>
                    </div>
                </div>
            </div>
            <div class="row bg-white justify-content-center">
                <form asp-controller="Job" asp-action="Apply" asp-route-id="@Model.Job.Id" method="post" enctype="multipart/form-data">
                    @{
                        if (SignInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("Employee"))
                            {
                                if (Model.IsApplied)
                                {
                                    <input style="width:100%;" type="button" class="btn appliedBtn" value="Aplikuar" /><br />
                                }
                                else
                                {
                                    <div id="myModal" class="modal">

                                        <div class="modal-content mt-5 ml-auto mr-auto card col-sm-3">

                                            <div class="modal-body">
                                                <span class="close">&times;</span>
                                                <h4>Ngarko CV-në</h4>
                                                <input required type="file" name="upload" accept="application/pdf" class="form-control" />
                                                <input type="hidden" name="job" value="{{ job.id }}">
                                                <br />
                                                <input style="width:100%;" type="submit" class="btn applyBtn"
                                                       value="Apliko Tani" />
                                                <br />
                                            </div>
                                            <br />
                                        </div>

                                    </div>

                                    <input style="width:100%;" type="button" id="myBtn" class="btn applyBtn"
                                           value="Apliko Tani" />
                                }
                            }
                            else
                            {
                                <a class="btn signInBtn" style="line-height:14px;" asp-action="Login" asp-controller="Account">
                                    <p class="notLogInText">Logohuni si punonjës për të aplikuar</p>
                                </a>
                            }
                        }

                        else
                        {
                            <a class="btn signInBtn" style="line-height:10px;" asp-action="Login" asp-controller="Account" ><p class="notLogInText">Logohuni për të aplikuar</p></a>
                        }
                    }

                </form>
                <div class="container justify-content-center m-2" style="display:flex; justify-content:center;">
                    <a style="width:70%;" class="btn signInBtn" href="tel:@Model.Job.CompanyPhoneNumber">Telefononi Kompaninë</a>
                </div>
            </div>
        </div>
    </section>
</body>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
