@model JobPortal.ViewModels.Home.JobDetailsViewModel

@using Humanizer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Job Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/JobDetails.css" />
    <link rel="stylesheet" href="~/css/ApplyJobPopup.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        .center {
            display: flex;
            justify-content: center;
        }

        .left {
            display: flex;
            justify-content: end;
        }

        @@media screen and (max-width: 600px) {
            .row {
                display: flex;
                flex-direction: row;
            }

                .row :nth-child(1) {
                    order: 3;
                }

                .row :nth-child(2) {
                    order: 1;
                }

                .row :nth-child(3) {
                    order: 2;
                }
        }

        @@media screen and (max-width: 600px) {
            .job-title {
                width:100%;
                word-wrap: break-word;
            }
        }
    </style>
</head>

<section>
    <div class="container ">
        <input type="button" value="Go back!" class="btn btn-sm btn-outline-info" onclick="history.back()">
        <br /><br />
        <div>
            <div class="container">
                <h3 class="lead job-title" style="text-align:center;">
                    @Model.Job.Title
                </h3>
                <sub class="center">
                    <i class="fa fa-map-marker job__location center"> </i>
                    <span style="margin-top:5px;">@Model.Job.Location | Posted @Model.Job.CreatedAt.Humanize() |</span>
                </sub>
            </div>
            <br />
            <div class="center">
                <img style="max-width: 100%; height: auto; -webkit-backface-visibility: hidden; width:650px; height:400px;" src="@Model.Job.PosterImageURl" alt="project-image" class="rounded img-details">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <br />
                @*<h3 style="text-align:center;">Job Details</h3>*@
                <div class="project-info-box container" id="c">
                    <p style="text-transform:capitalize;"><b>Category:</b> @Model.Job.Category</p>
                    <p><b>Last Date:</b> @Model.Job.LastDate.ToString("dd/MM/yyyy")</p>
                    <p><b>Salary:</b> @Model.Job.Salary LEK</p>
                    <p><b>Job Type: </b>@Model.Job.Type</p>
                    <p style="text-transform:capitalize;"><b>Education:</b> @Model.Job.Education</p>
                    <p style="text-transform:capitalize;"><b>Preferred Age:</b> @Model.Job.PreferredAge</p>
                    <p class="mb-0" style="text-transform:capitalize;"><b>View Count: </b> @Model.Job.ViewCount</p>
                </div>
                <br />
                <h3 style="text-align:center;">Company Details</h3>
                <div class="project-info-box container hidden" id="a">
                    <p style="text-transform:capitalize;"><b>Employer:</b> @Model.Job.CompanyName</p>
                    <p><b>Employer Website:</b> <a href="@Model.Job.Website" target="_blank">@Model.Job.CompanyName Website</a></p>
                    @*<p class="mb-0" style="text-transform:capitalize; white-space:pre-line;"><b>Company Description: </b> @Model.Job.CompanyDescription</p>*@

                    <form asp-controller="Job" asp-action="Apply" asp-route-id="@Model.Job.Id" method="post" enctype="multipart/form-data">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (Model.IsApplied)
                            {
                                <input style="width:100%;" type="button" class="btn btn-outline-white-primary" value="Already applied" /><br />
                            }
                            else
                            {
                                <!-- The Modal -->
                                <div id="myModal" class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content mt-5 ml-auto mr-auto card col-sm-3">

                                        <div class="modal-body">
                                            <h4>Upload Your CV</h4>
                                            <input required type="file" name="upload" accept="application/pdf" class="form-control" />
                                            <input type="hidden" name="job" value="{{ job.id }}">
                                            <br />
                                            <input style="width:100%;" type="submit" class="btn btn-outline-white-primary"
                                                   value="Apply Now" />

                                        </div>
                                        <br />
                                    </div>

                                </div>

                                <input style="width:100%;" type="button" id="myBtn" class="btn btn-outline-white-primary"
                                       value="Apply Now" />

                            }
                        }
                    </form>
                    <br />
                    <a style="width:100%;" class="btn btn-success btn-outline-success" href="tel:@Model.Job.CompanyPhoneNumber">Telefononi Kompaninë</a>

                </div>

            </div>

            <div class="col-md-7 container" id="a">
                <br />
                <div class="project-info-box">
                    <p style=" white-space: pre-line;">@Model.Job.Description</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>